<div class="grid mt-4 mr-2">
    <input class="col-12" placeholder="Search Recipes..." pInputText type="text" [(ngModel)]="searchText" (keydown)="searchKeyPress($event)"/>

    <div class="col-12">
        <div [style]="{'margin-top': '1em', 'padding-bottom': '0', 'padding-top': '0'}" class="" *ngFor="let i of results; let index=index">
            <div class="grid pb-1" style="background-color: var(--surface-a);" (click)="viewRecipe(i);">
                <div class="col-12">{{i.name}}</div>
                <div class="pl-3">{{i.description}}</div>
            </div>
        </div>

        <span *ngIf="results.length === 0">No records to display</span>
    </div>
</div>