body {
    font-family: "Roboto", sans-serif;
}

.sidebar-item {
    width: 250px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar .active {
    color: var(--p-primary-color);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

#page-content {
    transition: margin-left .5s;
    padding: 16px;
}

.p-field * {
    display: block;
}

.p-card {
    background-color: var(--p-surface-800);
    border-radius: 0.25rem;
}

.p-text-secondary {
    color: var(--p-surface-400);
}

.nav-menu-item {
    margin: 5px;
    text-decoration: none;
    color: var(--primary-800);
}

.nav-menu-item:hover {
    text-decoration: underline;
    color: var(--primary-300);
    cursor: pointer;
}

.text-color-warning {
    color: var(--p-toast-warn-color);
}


.text-color-danger {
    color: var(--p-toast-error-color);
}

.text-color-success {
    color: var(--p-toast-success-color);
}

.show-pointer {
    cursor: pointer;
}