<div class="list-group mr-3">
    <div class="flex justify-content-between align-items-end">
        <h4>{{this.selectedName}}</h4>
        
        <div class="flex justify-content-end">
            <button pButton icon="pi pi-sign-in" class="mr-2 mb-2" (click)="confirmAddToPantry()" pTooltip="Add Checked Items to Pantry" tooltipPosition="top"></button>
    
            <button pButton icon="pi pi-refresh" class="mr-2 mb-2" (click)="refreshList()"  pTooltip="Refresh List" tooltipPosition="top"></button>

            <p-splitButton label="Sort" [icon]="selectedSortOrder == 1 ? 'pi pi-sort-alpha-up' : 'pi pi-sort-alpha-down'" (onClick)="toggleSortOrder()" [model]="sortItems"></p-splitButton>
        </div>
    </div>

    <pantry-search-ingredients [addMode]="'GroceryList'" [activeList]="selected"></pantry-search-ingredients>

    <div *ngIf="allIngredients?.length === 0" class="d-flex justify-content-center pt-2 align-items-center">
        <i class="pi pi-exclamation-circle pl-2 pr-2"></i>
        <span>It seems {{selectedName}} is empty ... </span>
    </div>

    <div class="flex flex-column align-content-start align-item-start p-card my-1 pb-2" *ngFor="let row of filteredList; let index=index"
        (click)="setSelected(index, $event)">
    
        
        
        <div class="flex justify-content-between align-content-center pb-0" [ngClass]="{'font-medium': hoveredIndex==index}">
            <div class="flex justify-content-start ml-2">
                <input type="checkbox" [ngModel]="row.isChecked" (change)="toggleChecked(row)">
                <div class="p-2" (click)="unselect(index, $event)">{{row.ingredient.name}}</div>
            </div>
            
            <div class="flex justify-content-end mr-2">
                <button pButton pRipple *ngIf="hoveredIndex==index" icon="pi pi-minus-circle"
                    class="p-button-rounded p-button-text p-0 mr-1" (click)="quickEditQty(row, -1)"></button>
                <small class="text-muted p-0 flex align-items-center justify-content-center"
                    [ngClass]="{'bold-text': hoveredIndex==index}">Qty: {{row.quantity}}</small>
                <button pButton pRipple *ngIf="hoveredIndex==index" icon="pi pi-plus-circle"
                    class="p-button-rounded p-button-text p-0 ml-1" (click)="quickEditQty(row, 1)"></button>
            </div>
        </div>

        <div *ngIf="hoveredIndex==index" class="pt-0">
            <p *ngIf="!isEditing" class="ml-4 my-0 text-sm">{{row.note}}</p>
    
            <div *ngIf="isEditing" class="grid my-0 ml-4">
                <textarea pInputTextarea class="col-6" id="notesTextarea" rows="2" [(ngModel)]="row.note"
                    placeholder="Notes"></textarea>
            </div>
    
            <div class="flex justify-content-end mr-2">
                <button pButton pRipple class="p-button-outlined mr-2" *ngIf="!isEditing" icon="pi pi-pencil"
                    (click)="editIngredient(row, $event)"></button>
                <button pButton pRipple class="p-button-outlined p-button-danger" *ngIf="!isEditing" icon="pi pi-trash"
                    (click)="removeFromList(row, index)"></button>
                <button pButton *ngIf="isEditing" class="p-button-text p-button-sm" (click)="saveEdit(row)">Save</button>
                <button pButton *ngIf="isEditing" class="p-button-text p-button-sm"
                    (click)="cancelEdit(row, $event)">Cancel</button>
            </div>
        </div>
    </div>

    <!-- <div class="flex flex-column align-content-start p-card my-1 pb-2" *ngFor="let row of filteredList; let index=index"
        (click)="setSelected(index, $event)">
    
        <div class="flex justify-content-between align-items-center" [ngClass]="{'text-bold': hoveredIndex==index}">
            <input type="checkbox" [ngModel]="row.isChecked" (change)="toggleChecked(row)">
            <div class="flex col-12 justify-content-between pb-0" [ngClass]="{'font-medium': hoveredIndex==index}">
                <div (click)="unselect(index, $event)">{{row.ingredient.name}}</div>
                <div class="flex justify-content-end align-content-center">
                    <button pButton pRipple *ngIf="hoveredIndex==index" icon="pi pi-minus-circle"
                        class="p-button-rounded p-button-text p-0 mr-1" (click)="quickEditQty(row, -1)"></button>
                    <small class="text-muted p-0 flex align-items-center justify-content-center"
                        [ngClass]="{'bold-text': hoveredIndex==index}">Qty: {{row.quantity}}</small>
                    <button pButton pRipple *ngIf="hoveredIndex==index" icon="pi pi-plus-circle"
                        class="p-button-rounded p-button-text p-0 ml-1" (click)="quickEditQty(row, 1)"></button>
                </div>
            </div>
        </div>
    
    
        <div *ngIf="hoveredIndex==index" class="pt-0">
            <p *ngIf="!isEditing" class="ml-4 my-0 text-sm">{{row.note}}</p>
    
            <div *ngIf="isEditing" class="grid my-0 ml-4">
                <textarea pInputTextarea class="col-6" id="notesTextarea" rows="2" [(ngModel)]="row.note"
                    placeholder="Notes"></textarea>
            </div>
    
            <div class="flex justify-content-end mr-2">
                <button pButton pRipple class="p-button-outlined mr-2" *ngIf="!isEditing" icon="pi pi-pencil"
                    (click)="editIngredient(row, $event)"></button>
                <button pButton pRipple class="p-button-outlined p-button-danger" *ngIf="!isEditing" icon="pi pi-trash"
                    (click)="removeFromList(row, index)"></button>
                <button pButton *ngIf="isEditing" class="p-button-text p-button-sm" (click)="saveEdit(row)">Save</button>
                <button pButton *ngIf="isEditing" class="p-button-text p-button-sm"
                    (click)="cancelEdit(row, $event)">Cancel</button>
            </div>
        </div>
    </div> -->

    <!-- <div class="list-group-item list-group-item-action flex-column align-items-start"
        *ngFor="let row of filteredList; let index=index" (click)="setSelected(index, $event)">

        <div class="d-flex justify-content-between align-items-center" [ngClass]="{'bold-text': hoveredIndex==index}">
            <input type="checkbox" [ngModel]="row.isChecked" (change)="toggleChecked(row)">
            <div class="d-flex justify-content-between align-items-start col-12">
                <div (click)="unselect(index, $event)">{{row.ingredient.name}}</div>
                <div class="d-flex justify-content-end">
                    <button pButton *ngIf="hoveredIndex == index"
                        class="btn primary-icon no-border btn-sm fa-solid fa-circle-minus fa-lg pl-0 pr-0 mr-1"
                        (click)="quickEditQty(row, -1)"></button>
                    <small class="text-muted pr-0" [ngClass]="{'bold-text': hoveredIndex==index}" style="white-space: nowrap;">Qty: {{row.quantity}}</small>
                    <button pButton *ngIf="hoveredIndex == index"
                        class="btn primary-icon no-border btn-sm fa-solid fa-circle-plus fa-lg pl-0 pr-0 ml-1 mr-2"
                        (click)="quickEditQty(row, 1)"></button>
                </div>
            </div>
        </div>
        <div class="d-flect justify-content-center ml-5" *ngIf="hoveredIndex != index">
            <span class="light-text">{{row.note}}</span>
        </div>
        <div *ngIf="hoveredIndex == index" class="pt-2">
            <span *ngIf="!isEditing && row.note" class="ml-4 light-text">{{row.note}}</span>

            <div *ngIf="isEditing" class="form-group ml-4">
              <textarea class="form-control" id="notesTextarea" rows="1" [(ngModel)]="row.note" placeholder="Notes"></textarea>
            </div>

            <div class="d-flex justify-content-end">
                <div role="button" *ngIf="!isEditing" class="btn btn-outline-primary fa-solid fa-pencil mr-2" (click)="editIngredient(row, $event)"></div>
                <div role="button" *ngIf="!isEditing" class="btn btn-outline-danger fa-regular fa-trash-can danger-icon" (click)="removeFromList(row, index)"></div>
                <div role="button" *ngIf="isEditing" class="btn btn-link btn-sm" (click)="saveEdit(row)">Save</div>
                <div role="button" *ngIf="isEditing" class="btn btn-link btn-sm" (click)="cancelEdit(row, $event)">Cancel</div>
            </div>
        </div>

    </div> -->
</div>