
<div class="input-group">
  <input class="form-control" placeholder="Enter Username" type="text" maxlength="100" [(ngModel)]="username" (keyup.enter)="sendInvite()" />
</div>
@if (isSendingInvite) {
  <small class="form-text text-muted">sending invite...</small>
}

@if (isLoading) {
  <div class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Owner?</th>
      <th scope="col">Accepted?</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for (row of users; track row; let index = $index) {
      <tr (mouseover)="hoveredIndex=index" (click)="hoveredIndex=index">
        <td>
          {{row.username}}
        </td>
        <td>
          {{row.isOwner}}
        </td>
        <td>
          {{row.hasAcceptedInvite}}
        </td>
        <td>
          @if (hoveredIndex==index) {
            <button type="button" class="btn btn-link btn-sm" (click)="removeUser(row, index)">Remove</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

